<div class="col-md-6 col-lg-4">
    <div class="card team-member intern">
        <div class="card-body">
            <div class="text-center text-white">
                <i class="fas fa-user-graduate member-icon"></i>
                <h3 class="card-title">Amanda Atkins</h3>
                <p class="card-text">Engineer &bull; Senior Engineer</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-envelope"></i><a href="mailto:amanda@example.com">amanda@atkinsfam.com</a></li>
                <li class="list-group-item"><i class="fas fa-fingerprint"></i>ID: 123</li>
                <li class="list-group-item"><i class="fas fa-university"></i>UNC</li>
            </ul>
        </div>
      </div>
</div>