<div class="col-md-3 col-lg-4">
    <div class="card team-member manager" style="width: 18rem;">
        <div class="card-body">
            <div class="text-center">
            <i class="fas fa-user-tie member-icon"></i>
            
            <h3 class="card-title">Amanda Atkins</h3>
            <p class="card-text">Manager &bull; Senior Engineer</p>
            </div>
          <ul class="list-group">
            <li class="list-group-item"><i class="fas fa-envelope"></i><a href="mailto:amanda@example.com">amanda@atkinsfam.com</a></li>
            <li class="list-group-item"><i class="fas fa-fingerprint"></i>ID: 123</li>
            <li class="list-group-item"><i class="fab fa-github"></i><a href="https://github.com/amandalatkins">amandalatkins</a></li>
          </ul>
        </div>
      </div>
</div>